doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Styleguide
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    #page
      .pagecontent
        script(type="text/x-template" id="main-menu-link-template" v-pre)
          a(href="#" v-on:click.prevent="updateMainContent")
            slot
        a(is="button-toggle-menu" href="#") &#9776;
        nav.menu-main(is="main-menu" ref="main-menu")
          li(v-for="(key, value) in files")
            a(v-bind:href="value" is="main-menu-link") {{ key }}
        section.main
          .iframe-container
            iframe(v-bind:src="mainContentFile")
