doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Styleguide
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    #app
      #appcontent
        #noscript-warning(v-if="false")
          p Sie müssen JavaScript in Ihrem Browser aktivieren um alle Funktionen der Seite nutzen zu können.
        nav.menu-main
          ul
            li
              a(href="") Link
        section.main
          .one one
          .two two
